<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>

    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand me-2" th:href="@{/index}">
                Tasks
            </a>
            <div class="d-flex justify-content-end" id="navbarButtonsExample">
                <div class="d-flex align-items-center">
                    <a class="btn btn-link text-decoration-none px-3 me-2" th:href="@{/login}"
                       th:if="${user.name == 'guest'}">
                        Login
                    </a>
                    <a class="btn btn-primary me-3" th:href="@{/signup}" th:if="${user.name == 'guest'}">
                        Signup
                    </a>
                    <a class="nav-link" th:unless="${user.name == 'guest'}" th:href="@{/logout}">
                        <span th:text="${user.name}"></span>
                        <span>| Log out</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="table-responsive">
        <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Time created</th>
            <th scope="col">Status</th>
            <th scope="col">Categories</th>
        </tr>
        </thead>
        <tbody>
        <tr class="col-md-6" th:each="task : ${tasks}">
            <th class="overflow-auto">
                <a th:unless="${user.name == 'guest'}" th:href="@{/task/{id}(id=${task.getId})}"
                   th:text="${task.getDescription()}"></a>
                <a th:if="${user.name == 'guest'}" th:text="${task.getDescription()}"></a>
            </th>
            <td class="col-md-3" th:text="${#temporals.format(task.getCreated(), 'dd MMM yyyy HH-mm')}"></td>
            <td class="col-md-3" th:if="${task.isDone()}">Done!</td>
            <td class="col-md-3" th:unless="${task.isDone()}">New</td>
            <td class="col-md-3" th:text="${#strings.substring(task.categories, 1, #strings.length(task.categories)-1)}"></td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
    <div class="row" th:unless="${user.name == 'guest'}">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTask">
            Add a new task
        </button>
    </div>
    <div class="row mt-5" th:unless="${user.name == 'guest'}">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a th:href="@{/index}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button"
               aria-disabled="true">All</a>
            <a th:href="@{/index(select='done')}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button"
               aria-disabled="true">Done</a>
            <a th:href="@{/index(select='new')}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button"
               aria-disabled="true">New</a>
        </div>
    </div>

</div>
<div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mx-auto heading-section" id="staticBackdropLabel">New task</h3>
            </div>
            <div class="modal-body">
                <form th:action="@{/add}" method="POST" id="add" th:object="${task}">
                    <div class="mb-4">
                        <input type="text" maxlength="100" class="form-control form-control-lg" name="description"
                               placeholder="Enter the task's description..." id="newTask" required>
                    </div>
                    <div class="mb-2">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <div class="inline w-100 field">
                                        <select th:field="*{categories}" multiple="multiple" class="label ui selection fluid dropdown">
                                            <option value="" disabled>Select categories...</option>
                                            <option th:each="category : ${categories}" th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="add">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>