<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>

    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="card text-center mx-auto w-75">
            <div class="card-body">
                <h5 class="card-title" th:text="${task.description}">Description</h5>
                <p class="card-text" th:text="${#temporals.format(task.created, 'dd MMM yyyy HH-mm')}">Created</p>
                <p class="card-text" th:if="${task.done}">Done!</p>
                <p class="card-text" th:unless="${task.done}">New</p>
                <p class="card-text" th:text="${#strings.substring(task.categories, 1, #strings.length(task.categories)-1)}"></p>
                <form method="post">
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="hidden" name="done" th:value="${task.done}">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <a th:href="@{/index}" class="btn btn-primary" role="button">Back to tasks</a>
                    <button type="submit"  th:formaction="@{/status}" class="btn btn-primary"
                            th:unless="${task.isDone()}">Done!</button>
                    <button type="submit" th:formaction="@{/status}" class="btn btn-primary"
                            th:if="${task.isDone()}">Revert</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTask">Edit</button>
                    <button type="submit" th:formaction="@{/remove}" class="btn btn-primary">Remove</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="staticBackdropLabel">Edit the task</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/edit}" method="POST" id="edit" th:object="${newTask}">
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="hidden" name="created1" th:value="${task.created}">
                    <div class="mb-3">
                        <input type="text" maxlength="100" class="form-control form-control-lg" name="description"
                               th:value="${task.description}" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="done" th:checked="${task.done}" id="done">
                        <label class="form-check-label" for="done">
                            Completed
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="updatecreated" id="updatecreated">
                        <label class="form-check-label" for="updatecreated">
                            Update the "created" field?
                        </label>
                    </div>
                    <div class="form-check mt-3" >
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <div class="inline w-100 field">
                                        <select name="categories" id="categories" multiple="multiple"
                                                class="label ui selection fluid dropdown">
                                            <option value="" disabled>Select categories...</option>
                                            <option th:each="category : ${categories}" th:value="${category.id}"
                                                    th:text="${category.name}"
                                                    th:selected="${#lists.contains(task.categories, category)}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="edit">Save</button>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>